{% extends "base.html" %} {% block content %} {% if user.is_authenticated %}

<div><a href="{% url 'add_record' %}" class="btn btn-primary">Add Cpmpany<a></div>
<br/>
<div class="card-body">
  <form method="get" class="form-inline">
    <div class="input-group mb-2">
      <div class="input-group-append">
        <label for="company_name"><b>Company Name:</b></label>
        <span class="form-control">{{ record_filter.form.company_name }}</span>
      </div>
      <div class="input-group-append">
        <label for="email"><b>Email:</b></label>
        <span class="form-control">{{ record_filter.form.email }}</span>
      </div>
      <div class="input-group-append">
        <label for="created_at"><b>Created At:</b></label>
        <span class="form-control">{{ record_filter.form.created_at }}</span>
      </div>
      <div class="input-group-append">
        <label for="first_name"><b>First Name:</b></label>
        <span class="form-control">{{ record_filter.form.first_name }}</span>
      </div>
      <div class="input-group-append">
        <label for="last_name"><b>Last Name:</b></label>
        <span class="form-control">{{ record_filter.form.last_name }}</span>
      </div>
      <br/>
      <div class="p-4">
          <button class="btn btn-success"  type="submit">
          Search
        </button>
      </div>
    </div>
  </form>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    {% if records %} {% for record in records %}
    <tr>
      <td>
        <a href="{% url 'record' record.id %}">{{ record.company_name }}</a>
      </td>
      <td>
        <a href="{% url 'record' record.id %}"
          >{{ record.first_name }} {{ record.last_name }}</a
        >
      </td>
      <td>{{ record.email }}</td>
      <td>{{ record.phone }}</td>
      <td>{{ record.address }}</td>
      <td>{{ record.created_at|date:"Y-m-d H:i" }}</td>   
    </tr>
    {% endfor %} {% endif %}

  </tbody>
</table>

<!-- Pagination -->
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <span class="current">{{ num }}</span>
      {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% else %}
<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br />
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        ,
        placeholder="Username"
        required
      />
    </div>
    <br />
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        ,
        placeholder="Password"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>
{% endif %} {% endblock %}
